@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.zoom-controls {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: $middle-radius;
    background-color: $turquoise-ice;

    @include hover {
      background-color: $blue;
    }
  }
}
